<!-- views/artist.ejs -->
<!doctype html>
<html>
<head>
  <title>Minion Movies</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><!-- load fontawesome -->
  <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../../stylesheets/style.css">
  <style>
    body    { padding-top: 50px; }
  </style>
</head>
<body>
    <nav class="navbar navbar-default">

      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Minion Movies</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/"> Movies <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/artists"> Artists </a></li>
            <li><a href="/reviews"> Reviews </a></li>
            <li><a href="/classification"> Classification </a></li>
            <li><a href="/trailers"> Trailers </a></li>
          </ul>

          <form method="post" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search movies or people here">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
            <select name="search" size="1">
                    <option value="title" selected> title </option>
                    <option value="actors"> actors </option>
                    <option value="reviews"> reviews </option>
                    <option value="tags"> tags </option>
                    <option value="year"> year </option>
                    <option value="genres"> genres </option>
            </select>
          </form>
          <% if(!isLogin){ %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Log in <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/createProductCategory"><span class="fa fa-user"></span> Local Login </a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/viewProductCategory"><span class="fa fa-user"></span> Local Signup</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/viewProductCategory"><span class="fa fa-facebook"></span> Fackbook Login</a></li>
                </ul>
              </li>
            </ul>
          <% }else{ } %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <% for(var i = 0; i < 20; i++){ %>
        <% var id = artists[i]["ID"]%>
        <% var link = "/artists/" + artists[i]["ID"] %>
      <span class="image">
        <a href = <%= link %>>
          <img src = <%= artists[i]["PROFILE"] %> alt = <%= artists[i]["NAME"] %> />
        </a>
        <a href = <%= link %> class="link"><%= artists[i]["NAME"] %></a>
        <!--         <i class="fa fa-youtube-play fa-3x"></i> -->
      </span>
    <% } %>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.js"></script>  
</body>
</html>