<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <title>Minion Movies</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><!-- load fontawesome -->
  <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../../stylesheets/style.css">
  <style>
    body    { padding-top: 80px; }

    .review > div {
        display: inline-block;
    }

    .para {
        text-align: left;
        margin-left: 120px;
    }

    a > button {
        margin-left: 20px;
        margin-top: 20px;
    }
  </style>
</head>
<body>
    <nav class="navbar navbar-default">

      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Minion Movies</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"> Movies <span class="sr-only">(current)</span></a></li>
            <li><a href="/artists"> Artists </a></li>
            <li><a href="/reviews"> Reviews </a></li>
            <li><a href="/categories"> Categories </a></li>
            <li><a href="/trailers"> Trailers </a></li>
          </ul>
          <form action='/result' method="post" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" size="20" placeholder="Search movies or people here" name="searchContent">
            </div>
            <select name="searchType" size="1">
                    <option value="title" selected> title </option>
                    <option value="actors"> actors </option>
                    <option value="country"> country </option>
                    <option value="tag"> tag </option>
                    <option value="year"> year </option>
                    <option value="genres"> genres </option>
            </select>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <% if(!isLogin){ %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Log in <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/auth/facebook"><span class="fa fa-facebook"></span> Facebook </a></li>
                </ul>
              </li>
            </ul>
          <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Profile <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/profile"><span class="fa fa-user"></span> My Profile </a></li>
                <li><a href="/myMovie"><span class="fa fa-tv"></span> My Movie </a></li>
                <li><a href="/logout"><span class="fa fa-facebook"></span> Log out </a></li>
              </ul>
            </li>
          </ul>
          <% } %>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Bing <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <form method ="post" id ="bingSearchForm" action ="/bing" class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="search"  results= "s" class="form-control" size="20" placeHolder = "  Bing! Search" name="bingSearchContent"/>
                  </div>
                </form>
              </ul>
            </li>
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!--==================================================================================================================-->

    <!-- Reviews: every div shows one review tuple -->
    <% for(var i = 0; i < movies.length; i++){ %>
      <div class="container">
        <div class="well">
          <p> 
            <% var movieLink = '/movies/' + movies[i]["MOVIE_ID"] %>
            <a href=<%= movieLink %>>
              <button class="btn btn-primary"><strong><span class="fa fa-file-video-o"></span>&nbsp;&nbsp;&nbsp;"<%= movies[i]["TITLE_YEAR"] %>"</strong></button>
            </a>
          </p>
          <div class="review">
   
              <div>
              <p><img src = <%= movies[i]["POSTER"] %> alt = <%= movies[i]["TITLE_YEAR"] %> /><p>
              </div>
              <div class="para">
                <p> <strong>Name: </strong> <%= movies[i]["TITLE_YEAR"] %> </p>
                <p> <strong>Runtime: </strong> <%= movies[i]["RUNTIME"] %> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>Release date: </strong> <%= movies[i]["RELEASE_DATE"] %></p>
                <p> <strong>MPAA: </strong> <%= movies[i]["MPAA"] %> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>Popularity: </strong> <%= movies[i]["POPULARITY"] %> (likes) </p>
                <p> <strong>Rotten tomatoes' rating: </strong> <%= movies[i]["RT_AUDIENCE_RATING"] %>/100 </p>
                <p> <strong>Countries: </strong> <%= movies[i]["COUNTRIES"] %> </p>
                <p> <strong>Genres: </strong> <%= movies[i]["GENRES"] %> </p>    
              </div>           

          </div>
        </div>
      </div>
    <% } %>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.js"></script> 
</body>
</html>