<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <title>Minion Movies</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><!-- load fontawesome -->
  <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../../stylesheets/style.css">
  <style>
    body { padding-top: 50px; }

    .image {
        margin-right: -20px;
    }

    .well {
        padding-bottom: 80px;
    }

    .fb {
        margin-left: 50px;
    }

    .name {
        font-size: 200%;
    }
  </style>
</head>
<body>
    <nav class="navbar navbar-default">

      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Minion Movies</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/"> Movies <span class="sr-only">(current)</span></a></li>
            <li><a href="/artists"> Artists </a></li>
            <li><a href="/reviews"> Reviews </a></li>
            <li><a href="/categories"> Categories </a></li>
            <li><a href="/trailers"> Trailers </a></li>
          </ul>

          <form action='/result' method="post" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" size="20" placeholder="Search movies or people here" name="searchContent">
            </div>
            <select name="searchType" size="1">
                    <option value="title" selected> title </option>
                    <option value="actors"> actors </option>
                    <option value="country"> country </option>
                    <option value="tag"> tag </option>
                    <option value="year"> year </option>
                    <option value="genres"> genres </option>
            </select>
            <button type="submit" class="btn btn-default">Search</button>
          </form>

          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Profile <span class="caret"></span></a>
              <ul class="dropdown-menu">
              	<li><a href="/profile"><span class="fa fa-user"></span> My Profile </a></li>
              	<li><a href="/myMovie"><span class="fa fa-tv"></span> My Movie </a></li>
                <li><a href="/logout"><span class="fa fa-facebook"></span> Log out </a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Bing <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <form method ="post" id ="bingSearchForm" action ="/bing" class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="search"  results= "s" class="form-control" size="20" placeHolder = "  Bing! Search" name="bingSearchContent"/>
                  </div>
                </form>
              </ul>
            </li>
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="well">
       <p class="name"><img src = <%= user["photo"] %> alt = <%= user["photo"] %> >
       	<% if(user.gender == "male"){ %>
       		<i class="fa fa-male"> </i>
       	<% } %>
		<% if(user.gender == "female"){ %>
       		<i class="fa fa-female"> </i>
       	<% } %>
       	<%= user.name %>
       </p>
       <p>
        <a href=<%= user.facebookLink %>><button class="fb btn btn-info bt-xs"><strong><span class="fa fa-facebook"></span>&nbsp;&nbsp;&nbsp;	Go to facebook </button></a>
       </p>
    </div>

    <div class="well">
      <p><button class="btn btn-warning bt-xs"><h3><span class="fa fa-thumbs-up"></span> You like: </h3></button></p>
      <% for(var i = 0; i < favourate.length; i++){ %>
        <% var id = favourate[i]["MOVIE_ID"]%>
        <% var link = "/movies/" + favourate[i]["MOVIE_ID"] %>
        <span class="image">
          <a href = <%= link %>>
            <img src = <%= favourate[i]["POSTER"] %> alt = <%= favourate[i]["TITLE_YEAR"] %> />
          </a>
          <a href = <%= link %> class="link"><%= favourate[i]["TITLE_YEAR"] %></a>
        </span>
      <% } %> 
    </div>


<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.js"></script> 
</body>
</html>