<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <title>Minion Movies</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><!-- load fontawesome -->
  <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../../stylesheets/style.css">
  <style>
    body    { padding-top: 50px; }

    .para {
            font-size: 110%;
            text-align: left;
    }

    .review > p {
        display: inline-block;
        margin-left: 0px;
    }

    button {
        margin-right: 100px;
    }
  </style>
</head>
<body>
    <nav class="navbar navbar-default">

      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Minion Movies</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/ "> Movies <span class="sr-only">(current)</span></a></li>
            <li><a href="/artists"> Artists </a></li>
            <li class="active"><a href="/reviews"> Reviews </a></li>
            <li><a href="/categories"> Categories </a></li>
            <li><a href="/trailers"> Trailers </a></li>
          </ul>

          <form action='/result' method="post" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" size="20" placeholder="Search movies or people here" name="searchContent">
            </div>
            <select name="searchType" size="1">
                    <option value="title" selected> title </option>
                    <option value="actors"> actors </option>
                    <option value="country"> country </option>
                    <option value="tags"> tags </option>
                    <option value="year"> year </option>
                    <option value="genres"> genres </option>
            </select>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <% if(!isLogin){ %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Log in <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/auth/facebook"><span class="fa fa-facebook"></span> Facebook </a></li>
                </ul>
              </li>
            </ul>
          <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             <a href="/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Profile <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/profile"><span class="fa fa-user"></span> My minion </a></li>
                <li><a href="/myMovie"><span class="fa fa-tv"></span> My Movie </a></li>
                <li><a href="/logout"><span class="fa fa-facebook"></span> Log out </a></li>
              </ul>
            </li>
          </ul>
          <% } %>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Bing <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <form method ="post" id ="bingSearchForm" action ="/bing" class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="search"  results= "s" class="form-control" size="20" placeHolder = "  Bing! Search" name="bingSearchContent"/>
                  </div>
                </form>
              </ul>
            </li>
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <!-- Reviews: every div shows one review tuple。 -->
    <div class="container">
      <div class="well">
        <h1><i class="fa fa-file-text"></i> <i><%= review["PUBLICATION"] %></i>'s review for <%= review["TITLE_YEAR"] %></h1>
        <span class="image">
         <div class="review">
            <p>
              <% var movieLink = '/movies/' + review["IMDB"]%>
              <a href=<%= movieLink %>><img class="review_poster" src = <%= review["POSTER"] %> /></a>
            </p>
            <p class="para">
              <%= review["QUOTE"]%>
              <br>
              <br>
              ------<%= review["CRITIC"]%>(<%= review["PUBLISH_DATE"]%>)
            </p>
        </span>
      </div>

      <div class="well">
        <div class="review">
          <p>
            <% movieLink = '/movies/' + review["IMDB"] %>
            <a href=<%= movieLink %>><button class="btn btn-danger bt-xs"><h3><span class="fa fa-file-video-o"></span> <%= review["TITLE_YEAR"] %>: </h3></button></a>
          </p>
          <p class="para">
            <strong>Release date: </strong><%= review["RELEASE_DATE"] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            <strong>MPAA: </strong><%= review["MPAA"] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            <strong>Runtime: </strong><%= review["RUNTIME"] %>&nbsp;min&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            <strong>Rotten tomatoes' rating: </strong><%= review["RT_AUDIENCE_RATING"] %>/100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
          </p>
        </div>
          <br>
          <strong>Overview: </strong><%= (review["OVERVIEW"]).substring(0, 180);%>......
      </div>

      <div class="well">
        <button class="btn btn-primary bt-xs"><h3><i class="fa fa-file-text"></i> Other reviews for <%= review["TITLE_YEAR"] %> :</h3></button>
        <br>
        <br>
        <br>
        <% for(var i = 0; i < otherReviews.length; i++){ %>
          <% if(otherReviews[i]["QUOTE"]){ %>
            <p><strong><i><%= otherReviews[i]["PUBLICATION"] %></i> : </strong><%= otherReviews[i]["QUOTE"] %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------<%= otherReviews[i]["CRITIC"] %></p>
          <% } %>
        <% } %>
      </div>

      

      
    </div>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.js"></script>     
</body>
</html>